html {
    height:100%;
}

body {
    color: #E5E5E5; 
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    height: 100%; 
    background-color: #14213D;
}

.wrap {
    height: auto; 
    min-height: 100%; 
    background-color: #14213D;
}

.main {
    position: absolute; 
    text-align: center; 
    width: 100%; 
    margin-left: -50%; 
    top: 42.5%;
    left: 50%;
}

h1 {
    margin-top: 20px;
    font-size: 50px;
    opacity: 1;
}

.off-localhost {
position: absolute; 
text-align: center; 
width: 100%; 
bottom: 5%;
font-size: 24px;
line-height: 1;   
font-weight: 300;
}

p {
    margin: 0;
}

@media all and (max-width: 980px) {
    h1 {
        font-size: 35px;
    }
    .off-localhost p {
        font-size: 20px;
    }
}

@media all and (max-width: 730px) {
    h1 {
        font-size: 28px;
    }
    .off-localhost p {
        font-size: 16px;
    }
}